@model Shopify.Models.Category

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section__gradient section__form section__form-link">
    <div class="container body-content">
        <div class="form__container">
            <h2 class="heading-secondary heading-secondary--white u-margin-top-huge">Create</h2>


            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddCategory">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label"></label>
                            <input asp-for="CategoryName" class="form-control u-font-size-medium" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn--main" />
                        </div>
                    </form>
                </div>
            </div>


            <div>
                <a asp-action="Index" class="btn btn--main">Back to List</a>
            </div>

        </div> <!-- Form container -->
    </div>
</section>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
